@media screen and (min-width: 801px) {
  .section2 {
    padding: 70px 0px;
    .section2-first-div {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 230px;
      .div-text-wrapper {
        gap: 20px;
        h4 {
          font-size: 16px;
          line-height: 24px;
          text-align: start;
        }
        h2 {
          font-size: 50px;
          line-height: 56px;
          text-align: start;
        }
      }
      .arrow-div-wrapper {
        width: 210px;
        height: 90px;
        padding: 0;
        gap: 30px;
        align-self: flex-end;
        .arrow-div {
          width: 90px;
          height: 90px;
          span {
            font-size: 40px;
            line-height: 40px;
          }
        }
        .arrow-div:hover {
          background-color: #f3e401;
          transition: 0.4s ease-in-out;
          color: $darkText;
          span {
            color: $darkText;
          }
        }
      }
    }
    .carousel {
      padding: 50px 30px;
      gap: 30px;
      img {
        width: 350px;
        height: 420px;
        filter: drop-shadow(0px 0px 30px rgba(1, 238, 246, 0.85));
      }
    }
  }
  .button-div-section2 button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #f3e401;
    color: white;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
  }
}
